<a href="https://colab.research.google.com/github/Louise1987uni/SDS-2020-/blob/master/Join%20and%20merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# M1: Data Science Basics: Groupby & Join (merge)

in this tutorial I'm using the [MovieLens 100k data](https://) to demonstrate different data manipulation techniques
It builds on the by Kevin Markham found here: https://github.com/justmarkham/pandas-videos/blob/master/pandas_merge.ipynb


Out task is to calculate the average rating as well as number of ratings for a movie and add this information to the movies-dataframe

In [1]:
# Load standard packages
library(tidyverse) # DS ecosystem
library(magrittr) # Advanced piping

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract

In [2]:
# Load movies
movies <- read_delim('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item', 
                   delim = '|',
                   col_names = c('movie_id', 'title'))
                   # Warning beskeden: Den fandt 24 kolonner, men her er der kun specificeret 2. Den advarer,
                   # men dropper bare de resterende 22 kolonner.

Parsed with column specification:
cols(
  movie_id = col_double(),
  title = col_character()
)

Warning message:
“1682 parsing failures.
row col  expected     actual                                                                             file
  1  -- 2 columns 24 columns 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item'
  2  -- 2 columns 24 columns 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item'
  3  -- 2 columns 24 columns 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item'
  4  -- 2 columns 24 columns 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item'
  5  -- 2 columns 24 columns 'https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.item'
... ... ......... .......... ................................................................................
See problems(...) for more details.
”

In [3]:
# First inspection
movies %>% head()

  movie_id title
1 1        Toy Story (1995)
2 2        GoldenEye (1995)
3 3        Four Rooms (1995)
4 4        Get Shorty (1995)
5 5        Copycat (1995)
6 6        Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)

In [4]:
# Number of unique movie IDs
movies %>% n_distinct('movie_id') # n_destinct giver antallet af forskellige movie_id

[1] 1682

In [5]:
# Loading ratings - en anden data source end den første.
ratings <- read_delim('https://github.com/justmarkham/pandas-videos/raw/master/data/u.data', 
                   delim = '\t',
                   col_names = c('user_id', 'movie_id', 'rating', 'timestamp'))

Parsed with column specification:
cols(
  user_id = col_double(),
  movie_id = col_double(),
  rating = col_double(),
  timestamp = col_double()
)

In [6]:
ratings %>% head()

  user_id movie_id rating timestamp
1 196     242      3      881250949
2 186     302      3      891717742
3  22     377      1      878887116
4 244      51      2      880606923
5 166     346      1      886397596
6 298     474      4      884182806

In [7]:
ratings %>% n_distinct('movie_id')

[1] 100000

In [ ]:
# Average movie ratings
ratings_mean <- ratings %>%
  group_by(movie_id) %>%
  summarise(rating_mean = mean(rating, na.rm = TRUE) %>% round(2),
            rating_n = n()) %>%
  arrange(desc(rating_mean))

In [ ]:
ratings_mean %>% head()

In [ ]:
# Join the average ratings with the movies dataframe
movies %<>% left_join(ratings_mean, by = 'movie_id')

In [ ]:
movies %>% head()

# Your Turn
- What is the movie with the highest rating when we only consider movies that at least got a "reasonable" number of ratings (e.g. > 25th percentile)
- However, older movies had more chances to get ratings. What could be done to remedy this problem.
- Can you identify super-raters?
- Are some users perhaps too critical or way to positive (outliers)? Perhaps, we should filter out their reviews?
- What other questions can you come up with? Try to find 2-3 others and solve them.

## Extended homework

Using this data: https://github.com/fivethirtyeight/data/blob/master/alcohol-consumption/drinks.csv about alcohol consuption worldwide (per capita) for 2010.
You can read the article based on the data here: [Dear Mona Followup: Where Do People Drink The Most Beer, Wine And Spirits?](https://fivethirtyeight.com/features/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/)


Try to calculate the total consuption numbers, multiplying the per capita figures with the population of the countries in 2010
https://github.com/datasets/population/blob/master/data/population.csv

In R you can use the Contrycode package (https://github.com/vincentarelbundock/countrycode) to turn contry names into codes for more precise merging (contry-names are often written in various ways)

Install it from github via 'remotes::install_github('vincentarelbundock/countrycode')'